@import './base.css';

#app {
  padding-top: 1rem;
  justify-content: center;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsl(0, 1%, 43%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
  }
}

@media  {


  #app {
  }
}
